<table mat-table [dataSource]="events" class="mat-elevation-z8">
  <!-- Device ID Column -->
  <ng-container matColumnDef="deviceId">
    <th mat-header-cell *matHeaderCellDef> Device ID </th>
    <td mat-cell *matCellDef="let event"> {{ event.deviceId }} </td>
  </ng-container>

  <!-- Event Date Column -->
  <ng-container matColumnDef="eventDate">
    <th mat-header-cell *matHeaderCellDef> Event Date </th>
    <td mat-cell *matCellDef="let event"> {{ event.eventDate | date:'short' }} </td>
  </ng-container>

  <!-- Type Column -->
  <ng-container matColumnDef="type">
    <th mat-header-cell *matHeaderCellDef> Type </th>
    <td mat-cell *matCellDef="let event"> {{ event.type }} </td>
  </ng-container>

  <!-- Details Button Column -->
  <ng-container matColumnDef="details">
    <th mat-header-cell *matHeaderCellDef> Actions </th>
    <td mat-cell *matCellDef="let event">
      <button mat-button (click)="showDetails(event)">Details</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
